In [2]:
import os
from datetime import datetime

def get_current_time_stamp():
    return f"{datetime.now().strftime('%Y-%m-%d-%H-%M-%S')}"

CURRENT_TIME_STAMP = get_current_time_stamp()
ROOT_DIR = os.getcwd()
CONFIG_DIR = "config"
CONFIG_FILE_NAME = "config.yaml"

CONFIG_FILE_PATH = os.path.join(ROOT_DIR,CONFIG_DIR,CONFIG_FILE_NAME)

In [3]:
CURRENT_TIME_STAMP

'2023-03-19-22-07-02'

In [4]:
ROOT_DIR

'E:\\live_project_class\\project_template'

In [5]:
CONFIG_DIR

'config'

In [6]:
CONFIG_FILE_NAME

'config.yaml'

In [7]:
CONFIG_FILE_PATH

'E:\\live_project_class\\project_template\\config\\config.yaml'

In [31]:
import sys,yaml
def read_yaml_file(file_path:str)->dict:
    with open(file_path,"rb") as yaml_file:
           return yaml.safe_load(yaml_file)

In [32]:
read_yaml_file(file_path = CONFIG_FILE_PATH)

{'training_pipeline_config': {'pipeline': 'visa', 'artifact_dir': 'artifact'},
 'data_ingestion_config': {'dataset_download_url': 'https://github.com/Shivan118/Main-Branching/blob/main/Visadataset.csv',
  'raw_data_dir': 'raw_data',
  'ingested_dir': 'ingested_data',
  'ingested_train_dir': 'train',
  'ingested_test_dir': 'test'},
 'data_validation_config': {'schema_dir': 'config',
  'schema_file_dir': 'schema.yaml'}}

In [29]:
with open("E:\\live_project_class\\project_template\\config\\config.yaml","rb") as yaml_file:
           print(yaml.safe_load(yaml_file))

None

In [34]:
import os

path = "https://raw.githubusercontent.com/Shivan118/Main-Branching/main/Visadataset.csv "
basename = os.path.basename(path)
print(basename)  # Output: 'file.txt'

Visadataset.csv

In [1]:
import pandas as pd
df = pd.read_csv("E:\\live_project_class\\project_template\\visa\\artifact\\data_ingestion\\2023-03-22-21-04-51\\raw_data\\Visadataset.csv")

In [2]:
df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25480 entries, 0 to 25479
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   case_id                25480 non-null  object
 1   continent              25480 non-null  object
 2   education_of_employee  25480 non-null  object
 3   has_job_experience     25480 non-null  object
 4   requires_job_training  25480 non-null  object
 5   no_of_employees        25480 non-null  int64
 6   yr_of_estab            25480 non-null  int64
 7   region_of_employment   25480 non-null  object
 8   prevailing_wage        25480 non-null  float64
 9   unit_of_wage           25480 non-null  object
 10  full_time_position     25480 non-null  object
 11  case_status            25480 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 2.3+ MB

In [6]:
df.dtypes

case_id                   object
continent                 object
education_of_employee     object
has_job_experience        object
requires_job_training     object
no_of_employees            int64
yr_of_estab                int64
region_of_employment      object
prevailing_wage          float64
unit_of_wage              object
full_time_position        object
case_status               object
dtype: object

In [7]:
#continent  
len(df['continent']) - df['continent'].count()

0

In [6]:
df['continent'].count()

25480

In [3]:
for columns in df.columns:
    if (len(df[columns])-df[columns].count == len(df[columns])):
        count = count + 1
return True if (count == 0) else False

TypeError: unsupported operand type(s) for -: 'int' and 'method'